input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efeeee;
}

@font-face {
  font-family: "sf";
  src: url("./sf.ttf");
}
body {
  font-family: "sf";
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media only screen and (max-width: 600px) {
  .shift {
    margin-left: 25%;
    width: fit-content;
  }
}
.footer {
  padding: 3rem 1.5rem 4rem;
}
.file {
  margin: 1em;
  padding: 0.5em;
  background-color: #efeeee;
  border-radius: 0.7em;
  border: 0px solid #ccc;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    12px 12px 12px 0 rgba(0, 0, 0, 0.1);
}
.field {
  background-color: #efeeee;
  border-radius: 1em;
  border: 0px solid #ccc;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    12px 12px 12px 0 rgba(0, 0, 0, 0.1);
}
.button {
  background-color: #efeeee;
  border-radius: 0.7em;
  border: 0px solid #ccc;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    18px 18px 18px 0 rgba(0, 0, 0, 0.2);
}
.hero {
  background-color: #efeeee;
  border-radius: 0.13em;
  border: 0px solid #ccc;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    12px 12px 12px 0 rgba(0, 0, 0, 0.1);
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
